{% extends "base.html" %}

{% block content%}
<div class="index_wrapper">
    <div class="introduction">
        <h2 id="headline">Hey Foodie,</h2>
        <p>You've got to the right place.<br> Not much things left in the fridge? You can't come up with an idea of what to make with the ingredients you do have?<br> We can work it out. We know you are probably starving, just a couple of things we need to know before starting:</p>
    </div>
    <div id="search">
        <form id="search-form" action="/data" method="POST">
            <div class="ingredients-wrapper">
                <label for="ingredients">What's in your fridge?</label>
                <span> 
                    <!-- {% if ings %}
                    {{', '.join(ings)}}
                    {% endif %} -->
                    {% if ings %}
                    {{ings}}
                    {% endif %}
                </span>
                <div class="ingredients-search-wrapper">
                    <input id="ingredients" name="ingredients" type="text" placeholder="Enter an ingredient...">
                    <button type="submit" title="submit-ingredient"><i class="fas fa-search"></i></button>
                    <a href="/delete/ing"><img src="../static/images/minus-button15px.png" alt="Minus button to delete ingredient" title="delete-ingredient"></a>
                </div>
            </div>
            <div class="allergies-wrapper">
                <label for="allergies">Any allergies to worry about?</label>
                <span> 
                    {% if alls %}
                    {{', '.join(alls)}}
                    {% endif %}
                </span>
                <div class="allergies-search-wrapper">
                    <input id="allergies" name="allergies" type="text" placeholder="Enter an ingredient..." value="{{allergies}}">
                    <button type="submit" title="submit-allergy"><i class="fas fa-search"></i></button>
                    <a href="/delete/all"><img src="../static/images/minus-button15px.png" alt="Minus button to delete allergy" title="delete-allergy"></a>
                </div>
            </div>
        </form>
        <form class="check-form" action="/data/results" method="POST">
            <div class="Limited-ingredients-num">
                <div class="checkbox_wrapper">
                    <label id="limit_label" for="Limited" >Would you like to see results that consists only the ingredients you have inserted?</label>
                    <input id="Limited" name="Limited" type="checkbox" value=True>
                </div>
                <div class="index_wrapper">
                    <div class="search">
                        <h2>Cool, that's something to work with.</h2>
                        <button id="srchbtn" class="active" type="submit">Let's find you something to eat</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock%}